blockquote {
  margin-top: 30 - $header-height;
  width: 60%;

  @include mq-up(lg) { width: 700px; }
  @include mq-up(xl) { width: 800px; }
  
  p {
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    border-top: 4px solid rgba(black, .6);
  }

  cite {
    font-size: 1.2rem;
  }
}