blockquote {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  
  p {
    font-size: 2.8rem;
  }

  cite {
    font-size: 1.2rem;
  }
}