#newQuote {
  position: fixed;
  right: 30px;
  bottom: 30px + $footer-height;
  padding: 10px;
  background-color: white;
  transition: all .15s ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(0,0,0,.1);
  outline: 0;

  &:hover {
    transform: scale(1.1);
  }

  @include mq-up(md) {
    right: 50px;
    bottom: 50px + $footer-height;
  }

  img {
    width: 40px;
    height: auto;

    @include mq-up(md) {
      width: 50px;
    }
  }
}