doctype html
html(lang="en")
  include includes/head

  body
    header
      .container
        .logo
          img(src="./assets/images/walter-white.svg")
        h1 Breaking Bad Quotes

    block content
      ul#quotes
      button#newQuote(type="button") Get Another

    include includes/footer
    include includes/scripts