doctype html
html(lang="en")
  include includes/head

  body
    block content
      .container
        .row
          .col-12
            h1 Random Quotes

    include includes/footer
    include includes/scripts