doctype html
html(lang="en")
  include includes/head

  body
    block content
      .container
        .row
          .col
            h1 Breaking Bad Quotes

        .row
          .col
            ul#quotes

        .row
          .col
            button#newQuote(type="button") New Quote

    include includes/footer
    include includes/scripts