doctype html
html(lang="en")
  include includes/head

  body
    #loader
    
    include includes/header

    ul#quotes
    a#newQuote(href="#") 
      img(src="./assets/images/swoosh-down.svg")

    include includes/footer
    include includes/scripts