// Colors
// ==============================================
$blue:    #0074D9;
$navy:    #001F3F;
$aqua:    #7FDBFF;
$teal:    #39CCCC;
$olive:   #3D9970;
$green:   #2ECC40;
$lime:    #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:   #FFFFFF;
$silver:  #DDDDDD;
$gray:    #AAAAAA;
$black:   #111111;

// Breakpoints
// ==============================================
$breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1600px,
);

// Sizes
// ==============================================
$header-height: 80px;
$footer-height: 60px;
$logo-size: 80px;