html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 100px + $header-height;
  padding-bottom: 100 + $footer-height;
  background: burlywood;
}

.container {
  margin: 0 auto;
  width: 100%;
  
  @include mq-up(sm) { max-width: 90%; }
  @include mq-up(md) { max-width: 860px; }
  @include mq-up(lg) { max-width: 1140px; }
  @include mq-up(xl) { max-width: 1440px; }
}