html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  background: bisque;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  
  @include mq-up(sm) { width: 90%; padding: 0; }
  @include mq-up(md) { width: 860px; }
  @include mq-up(lg) { width: 1140px; }
  @include mq-up(xl) { width: 1440px; }
}