header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 0 80px rgba(0,0,0,.15);
  z-index: 100;
}