header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px + $logo-size;
      height: 12px + $logo-size;
      background: white;
      border-radius: 50%;
      z-index: -1;
    }

    img {
      margin: 12px 0 0 10px;
      width: $logo-size; 
      height: $logo-size;
    }
  }

  .title {
    font-size: 22px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
  }
}